.App {
  width: 45rem;
  margin-inline: auto;
  margin-block: 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

@media only screen and (max-width: 576px) {
  .App {
    width: 21rem;
    margin-block: 2rem;
  }
}